<!DOCTYPE html>
<html>
<head>
    <title>Movie Reviews</title>
</head>
<body>
    <h1>Movie Reviews</h1>
    <a href="/">Back to Add Review</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Review Text</th>
            <th>Rating</th>
        </tr>
        {% for review in reviews %}
        <tr>
            <td>{{ review.id }}</td>
            <td>{{ review.title }}</td>
            <td>{{ review.review_text }}</td>
            <td>{{ review.rating }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>